DateTime
Pillow
PyNaCi
aiohttp
async-timeout
certifi
cffi
chardet
diecord.py
docopt
idna
idna-ssl
multidict
pip
pipreqs
psutil
pycparser
pytz
requests
setuptools
six
urllib3
websockets
yarg
yarl
youtube-dl
zope.interface
